/* Footer at bottom of page START */

.footer {
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 70px 0px;
  box-sizing: border-box;
  background-color: rgba(117, 78, 33);
  position: absolute;
  bottom: -1500px;
}

.inner_footer {
  display: block;
  margin: 0 auto;
  width: 1100px;
  height: 100%;
}

.inner_footer .logo_container {
  width: 35%;
  float: left;
  height: 100%;
  display: block;
}

.inner_footer .logo_container img {
  width: 200px;
  height: auto;
}

.inner_footer .footer_third {
  width: calc(21.6666666667% - 20px);
  margin-right: 10px;
  float: left;
  height: 100%;
}

.inner_footer .footer_third:last-child {
  margin-right: 0;
}
.inner_footer .footer_third h1 {
  font-family: sans-serif;
  font-size: 22px;
  color: rgb(218, 218, 218);
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.inner_footer .footer_third a {
  font-family: sans-serif;
  font-size: 18px;
  color: rgb(218, 218, 218);
  display: block;
  font-weight: 200;
  width: 100%;
  padding-bottom: 5px;
}

.inner_footer .footer_third li {
  display: inline-block;
  padding: 0 5px;
  font-size: 20px;
}

.inner_footer .footer_third span {
  color: rgb(218, 218, 218);
  font-family: sans-serif;
  font-size: 16px;
  display: block;
  width: 100%;
  padding-top: 20px;
}

@media (max-width: 600px) {
  .footer {
    text-align: center;
    bottom: -2500px;
  }
  .footer .inner_footer {
    width: 90%;
  }
  .inner_footer .logo_container,
  .inner_footer .footer_third {
    width: 100%;
    margin-bottom: 30px;
  }
}
/* Footer at bottom of page END */
