body {
  overflow-x: hidden;
}

body {
  margin: 0;
  background: rgb(34, 34, 34);
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  background-image: url(./images/location_background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(66, 66, 66);
  background-blend-mode: multiply;
}

h1 {
  color: white;
}

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.content {
  height: 100%;
  display: grid;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial;
}

.vertical-center {
  display: table-cell;
  vertical-align: center;
  padding: 30px;
  padding-top: 220px;
}

.content h2 {
  font-weight: 500;
  font-size: 45px;
  color: rgb(218, 218, 218);
  text-align: center;
  letter-spacing: 10px;
  text-shadow: 2px 2px 8px #111;
}

.content p {
  text-align: center;
  color: rgb(218, 218, 218);

  font-size: 26px;
  word-spacing: 150px;
  position: relative;
  top: 25px;
}

#googleMap {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 100px;
}

@media screen and (min-width: 849px) {
  .content p {
    margin: 0 auto;
    max-width: 850px;
    text-align: center;
  }

  .content .stuff {
    margin: -25px auto;
    max-width: 650px;
    text-align: center;
  }
}
