@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,600");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  background: rgb(34, 34, 34);
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  background-image: url(./images/clifford-VobvKmG-StA-unsplash.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(66, 66, 66);
  background-blend-mode: multiply;
}

h1 {
  color: white;
}

.content {
  height: 100%;
  display: grid;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial;
}

.vertical-center {
  display: table-cell;
  vertical-align: center;
  padding: 30px;
  padding-top: 220px;
}

.content h2 {
  font-weight: 500;
  font-size: 45px;
  color: rgb(218, 218, 218);
  text-align: center;
  letter-spacing: 10px;
  text-shadow: 2px 2px 8px #111;
}

.content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content p {
  font-size: 20px;
  color: rgb(218, 218, 218);
  text-shadow: 2px 2px 8px #111;
  text-align: center;
  line-height: 38px;
  padding: 30px;
}

.content .stuff {
  font-style: italic;
  font-size: 16px;
  margin: -25px auto;
}

.content .button_one {
  margin: 50px auto;
  display: block;
}

/* gallery on main page -START- */

.content .gallery-header {
  padding-top: 180px;
  font-size: 38px;
  padding-left: 80px;
  padding-right: 80px;
}

.content .gallery {
  padding-top: 0px;
  margin: 0.5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flexbot-wrap: wrap;
  -ms-flexbot-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

.content .gallery div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: 0.5vw;
}

.content .gallery div img {
  width: 55%;
  height: auto;
}

.content .gallery div h2 {
  text-shadow: 2px 2px 2p black;
  padding-top: 20px;
  font-size: 35px;
}

/* gallery on main page -FINISH- */

/* covid button start */
.content .btn {
  text-transform: uppercase;
  font-size: 25px;
  width: 450px;
  height: 60px;
  border-radius: 80px;
  line-height: 60px;
  text-align: center;
  border: 3px solid rgb(218, 218, 218);
  display: block;
  text-decoration: none;
  margin: 0px auto;
  color: rgb(218, 218, 218);
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: 0.3s;
}

.content .btn::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(117, 78, 33, 0.85);
  top: -100%;
  left: 0;
  z-index: -1;
  transition: 0.3s;
}
.content .btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(117, 78, 33, 0.85);
  top: -100%;
  left: 0;
  z-index: -1;
  transition: 0.3s;
}

.content .btn:hover {
  color: #fff;
}
.content .btn:hover::before {
  top: 0;
}
/* covid button finish */

@media screen and (min-width: 849px) {
  .content p {
    margin: 0 auto;
    max-width: 650px;
    text-align: center;
  }

  .content .stuff {
    margin: -25px auto;
    max-width: 650px;
    text-align: center;
  }
}

@media screen and (min-width: 686px) {
  .content .gallery div {
    margin: 0;
  }
  .content .gallery {
    padding: 0;
  }

  .content {
    height: 100%;
  }

  .content .content-gallery div {
    margin: 0;
  }

  .content .content-gallery {
    padding: 0;
  }
}
