@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,600");

:root {
  --background: rgba(117, 78, 33, 0.85);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(34, 34, 34);
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

h1 {
  color: white;
}

.content {
  height: 250vh;
  background-image: url(./images/clifford-VobvKmG-StA-unsplash.jpg);
  background-color: rgb(66, 66, 66);
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
}

.vertical-center {
  display: table-cell;
  vertical-align: center;
  padding: 30px;
  padding-top: 270px;
}

.content h2 {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 45px;
  color: rgb(218, 218, 218);
  text-align: center;
  letter-spacing: 10px;
  text-shadow: 2px 2px 8px #111;
}

.content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content p {
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(218, 218, 218);
  text-shadow: 2px 2px 8px #111;
  text-align: center;
  line-height: 38px;
  padding: 30px;
}

.content .stuff {
  font-style: italic;
  font-size: 16px;
  margin: -25px auto;
}

.content .button_one {
  margin: 50px auto;
  display: block;
}

/* gallery on main page -START- */

.content .gallery-header {
  padding-top: 150px;
}

.content .gallery {
  padding-top: 70px;
  margin: 0.5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flexbot-wrap: wrap;
  -ms-flexbot-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

.content .gallery div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: 0.5vw;
}

.content .gallery div img {
  width: 65%;
  height: auto;
}

.content .gallery div h2 {
  font-size: 35px;
}

/* gallery on main page -FINISH- */

main {
  background: var(--background);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px;
}

.rectangle-connect {
  text-shadow: 2px 2px 2px black;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: 5px;
}

.rectangle {
  text-shadow: 2px 2px 2px black;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: 5px;
}

.rectangle a {
  color: white;
}
.rectangle a:link {
  text-decoration: none;
}
.rectangle a:hover {
  color: rgb(150, 102, 63);
}
/* navigation styles start here */

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

/* changed this to allow it to gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, 0.75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    all: unset; /* this causes issues with Edge, since it's unsupported */

    /* the following lines are for Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    bottom: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}

@media screen and (min-width: 849px) {
  .content p {
    margin: 0 auto;
    max-width: 650px;
    text-align: center;
  }

  .content .stuff {
    margin: -25px auto;
    max-width: 650px;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .content .gallery div {
    margin: 0;
  }
  .content .gallery {
    padding: 0;
  }
}
